body {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 191, 182);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 3em;
}

.Lottery {
  padding: 1em;
  margin-top: 3em;
  text-align: center;
  border: 1px solid tomato;
  border-radius: 20px;
}

.Lottery h1 {
  font-size: 3em;
  color: rgb(236, 57, 26);
}

button {
  background-color: tomato;
  padding: 1em;
  width: 10rem;
  margin-top: 2em;
  border: none;
  border-radius: 10px;
  color: rgb(240, 215, 211);
}
